<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_bottom_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,122}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{88,0},{86,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{82,126}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{418,0},{82,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{284,126},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{218,256},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,132}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{292,256},{70,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,132}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{362,256},{68,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,132}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{430,256},{68,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{360,126},{68,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,128}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{216,126},{68,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{66,126}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{0,126},{66,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{264,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{66,126}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{66,126},{66,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{428,126},{66,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{0,256},{70,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{72,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{70,256},{72,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{142,256},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{84,126}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{132,126},{84,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{88,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{330,0},{88,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{174,0},{90,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_bottom_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{88,120}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_bottom.png</string>
            <key>size</key>
            <string>{500,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9b812b6b7f3c67bc4682ba937abfb93:658845b94f8b9ead2379587edfa3f72a:72e5a475c103f50b8691adebc7ef898e$</string>
            <key>textureFileName</key>
            <string>run_bottom.png</string>
        </dict>
    </dict>
</plist>
