<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_bottom_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{162,0},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{240,0},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{318,0},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{396,0},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{0,130},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{74,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{76,130},{74,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{150,130},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{226,130},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{302,130},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{380,130},{80,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{82,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{0,260},{82,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{82,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{82,260},{82,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{84,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{164,260},{84,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{386,390},{86,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{0,522},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{88,522},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{176,522},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{264,522},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{352,522},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{0,654},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{88,654},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{176,654},{88,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{264,654},{86,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{86,132}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{350,654},{86,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{84,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{248,260},{84,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{84,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{332,260},{84,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{82,128}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{82,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{0,390},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{78,390},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{156,390},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{232,390},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_bottom_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{88,134}</string>
                <key>textureRect</key>
                <string>{{308,390},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walk_bottom.png</string>
            <key>size</key>
            <string>{472,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f75cfd9698ff72c63dfdf94f8180cdc3:a03ebe26c17db9b0d9606dade37e53e6:b590941102cfb44aaf3d790c8b998b12$</string>
            <key>textureFileName</key>
            <string>walk_bottom.png</string>
        </dict>
    </dict>
</plist>
