<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_top_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{86,122}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{582,250},{86,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{86,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{668,250},{86,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{246,250},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{86,122}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{754,250},{86,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{84,122}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{330,250},{84,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{414,250},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{790,126},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{82,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{0,250},{82,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{80,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{390,126},{80,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{80,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{470,126},{80,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{674,0},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{76,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{294,0},{76,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{76,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{370,0},{76,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{76,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{446,0},{76,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{78,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{752,0},{78,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{78,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{830,0},{78,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{0,126},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{80,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{550,126},{80,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{80,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{630,126},{80,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{78,126},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{156,126},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{76,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{522,0},{76,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{74,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{72,0},{74,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{72,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{74,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{146,0},{74,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{74,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{220,0},{74,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{76,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{598,0},{76,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{234,126},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{312,126},{78,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{80,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{710,126},{80,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{82,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{82,250},{82,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{82,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{164,250},{82,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_top_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,128}</string>
                <key>textureRect</key>
                <string>{{498,250},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walk_top.png</string>
            <key>size</key>
            <string>{908,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67f878dadeb476ad42a18df2544842b:7003fd53ae8bcde7d2d62e64395d98e9:d5b4a521e067b8f4052bc86136bf25c4$</string>
            <key>textureFileName</key>
            <string>walk_top.png</string>
        </dict>
    </dict>
</plist>
